.posts {
    display: grid;
    height: 60vh;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    align-items: center;
    text-align: center;
}

.indiv-post {
    transition: .3S ease-in-out;
}

.indiv-post:hover {
    transform: translateY(-1em);
}

.text {
    color: black;
}