@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
}

p {
    line-height: 1.7em;
    max-width: 700px;
    padding: .5em 0;
}

h3 {
    padding-top: 1em;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 700px;
    margin: 1em auto;
}

.page-title {
    text-align: center;
    font-size: 4rem;
    padding-bottom: .6em;
}

.blog-title {
    text-align: center;
    font-size: 3rem;
    padding-bottom: .6em;
}

.date {
    padding: 3em 0;
}

.overflow {
    overflow-y: hidden;
}