.container {
    display: grid;
    width: 79vw;
    height: 70vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
}

.header {
    padding-bottom: .3em;
    font-size: 3.5rem;
}

.text {
    padding-bottom: 2.5em;
}

.button {
    padding: 1em;
    color: #fff;
    background-color: #346E93;
    font-weight: 600;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.button:hover {
    background-color: #243B60;
}

.image {
    width: 100%;
    max-width: 900px;
    height: auto;
    justify-self: end;
}