.container {
    padding-top: 10vh;
    display: grid;
    grid-template-columns: .5fr 4fr .5fr;
    align-items: center;
    justify-items: center;
}

.content {
    grid-column: 2/3;
    padding: 1.5em; 
}

.navbar {
    display: grid;
    width: 100%;
    height: 10vh;
    grid-template-columns: .5fr 2fr 2fr .5fr;
    /* padding: 2em 0; */
    align-items: center;
    background-color: #fff;
    position: fixed;
    z-index: 50;
}

.title {
    grid-column: 2/3;
    font-size: 1.8rem; 
    color: #346E93;
}

.nav-items {
    grid-column: 3/4; 
    justify-self: end;
}

.nav-links {
    margin: 0 2em;
    padding: .7rem;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.nav-links:hover {
    background-color: #0077b6;
    color: #fff;
}

.footer {
    width: 100%;
    padding: 1.5em;
    color: #fff;
    background-color: #243B60;
    text-align: center;
}

.wrapper {
    min-height: 93vh;
}